.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a {
        background: rgba(39, 39, 36, 0.507);
        color: #f5dbdbdc;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        color: rgba(214, 22, 8, 0.781);
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #f5dbdbdc;
        font-size: .8rem;
        font-style: italic;
    }
}


div {
    color:  #f5dbdbdc;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-style: italic;

    a {
        color:  #f5dbdbdc;
        font-size: 1.5rem;
        
    }

    a:hover {
        background: rgba(70, 67, 67, 0);
        color: rgba(241, 16, 16, 0.856);
    }

   
}


h1 {
    color:  #f5dbdbdc;
}

