.posts {
    list-style-type: none;
    display: block;
    align-content: center;
    margin: 0 auto;
    padding: 0 auto;
}

.post {
        margin: 1.5rem;
        align-content: center;
        margin-right: 4rem;
        text-align: center;
        position: center;
        align-content: center;
        display: block;
       
        a {                      // bandeau noir
            background: rgba(39, 39, 36, 0.507);
            color: #f5dbdbdc;
            display: block;
            padding: 0.1rem 0.2rem;
            text-decoration: none;                
            align-content: center;
        }     
}
   

div {
    color:  #f5dbdbdc;     //post : title music 
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-style: italic;
    align-content: center;

    a {              // bands: list links
        color:  #f5dbdbdc;
        font-size: 1.1rem;
    }

    a:hover {                      // list posts               
        background: rgba(70, 67, 67, 0);   // list posts: suppr transparence
        
            h2 {               // list posts : band title
                color: rgba(241, 16, 16, 0.856);
            }
  
            p {                //list posts: band country
                color: rgba(241, 16, 16, 0.856);
            }
    }  
}
    


h1 {
    color: rgba(241, 16, 16, 0.966); // title site
    font-size: 4rem;
}


h5 {                           // genres music
    font-size: 1rem;  
    color: rgba(241, 16, 16, 0.966);
    
}


h2 {
    margin-bottom: 0;    // post : title band
    color: #f5dbdbdc;
}


p {
    color: #e3dbf5dc;   // color country + about + contact
    font-size: .8rem;
    font-style: italic;

    a:hover {                      // liste des liens Bands
        color: rgba(241, 16, 16, 0.856);
    }

}



.iframe {
    max-width: 90%;
}


.list-bands {
    text-align: center;
    padding: 0 auto;
    text-decoration: none;
    } 


@media screen and (max-width: 600px) {
    .iframe {
      max-width: 70%; }
    }


    