
body { 
    background-image: url("../images/fire.jpg") ;
    align-content: center;
    margin: 0 auto;
    padding: 0 auto;
  }


.header {
  padding: 1rem 0 3rem;
  align-content: center;
  margin: 0 auto;
  padding: 0 auto;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

.nav-item {
    color: #e9e8e3;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: rgba(241, 16, 16, 0.966);
}

.active-nav-item {
    color: rgba(241, 16, 16, 0.966);
}

