
body { 
    background-image: url("../images/plumes.jpg") ;
  }


.header {
  padding: 1rem 0 3rem;
}

.title {
    color: rgba(41, 8, 44, 0.541);
    font-size: 3.5rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

.nav-item {
    color: #070707;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    background-color: rgba(248, 244, 248, 0.555);
}

.nav-item:hover {
    color: #cbd819;
}

.active-nav-item {
    color: #f4faf7;
}

