html { 
    background-image: url("../images/fire.jpg");
}

.header {
  padding: 1rem 0 3rem;
}

.title {
    color: #a72020;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #070707;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #0426e6;
}

.active-nav-item {
    color: #f7f3f3;
}

